<footer>
    <div class="footer-row">
        <div class="footer-col">
            <h2>Về King Shoes <div class=underline><span></span></div></h2>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            <span>
                Nổi sợ vì mua giày kém chất lượng<br>giày fake từ này không còn lo lắng vì<br> đã
                có KING SHOES hàng chính hãng nhập <br>từ US, full box, nguyên tem.
            </span>
            <ul class="social-icon">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h2>Liên hệ <div class=underline><span></span></div></h2>
            <ul class="info">
                <li>
                    <span><i class="fa fa-map-marker"></i></span>
                    <span>13 Trần Văn Ơn, TDM, Bình Dương</span>
                </li>
                <br>
                <li>
                    <span><i class="fa fa-phone"></i></span>
                    <span>+84 1234567890</span>
                </li>
                <br>
                <li>
                    <span><i class="fa fa-envelope"></i></span>
                    <span>kingshoes@gmail.com.vn</span>
                </li>
        </div>
        <div class="footer-col">
            <h2>Hỗ trợ<div class=underline><span></span></div></h2>
            <ul>
                <li>@Html.ActionLink("Chăm sóc khách hàng", "CSKH", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
                <li>@Html.ActionLink("Thanh toán", "ThanhToan", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
                <li>@Html.ActionLink("Hướng dẫn mua hàng", "HuongDanMuaHang", "SP_CS", null, new { style = "color:white" })</li>
                <Br>

            </ul>
        </div>
        <div class="footer-col">
            <h2>Bản đồ <div class=underline><span></span></div></h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.7682177471615!2d106.67213421480261!3d10.98085989218299!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d12730e488c3%3A0xfd39431733c080a4!2zMDYgVHLhuqduIFbEg24gxqBuLCBQaMO6IEhvw6AsIFRo4bunIEThuqd1IE3hu5l0LCBCw6xuaCBExrDGoW5n!5e0!3m2!1svi!2s!4v1647254460956!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="footer-col">
            <h2>Chứng nhận <div class=underline><span></span></h2>
            <a href="http://online.gov.vn/Home/WebDetails/86431" target="_blank"><img alt="" height="104" src="https://kingshoes.vn/data/upload/media/logoSaleNoti.png" width="270"></a>
        </div>
        <div class="footer-col">
            <h2>Chính sách <div class=underline><span></span></div> </h2>
            <ul>
                <li>@Html.ActionLink("Chế độ bảo hành", "CheDoBaoHanh", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
                <li>@Html.ActionLink("Chính sách đổi hàng", "ChinhSachDoiHang", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
                <li>@Html.ActionLink("Bảo mật thông tin", "BaoMat", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
                <li>@Html.ActionLink("Chính sách giao nhận", "ChinhSachGiaoNhan", "SP_CS", null, new { style = "color:white" })</li>
                <Br>
            </ul> 
        </div>
    </div>
    <hr>

    <p class="copyright" style=color:white>© Bản quyền thuộc về King Shoes </p>

</footer>